.Char-Grid {
    width: 80%;
}

.Char-Img {
    width: 100%;
}

.Omit {
    filter: brightness(0.6);
}

.column {
    float: left;
    width: 6.5%;
    border: 1px solid black;
    background-color: #FFEBC6;
}
  
.char-card {
    padding: 10px;
    text-align: center;
    cursor: pointer;
}