#background-blur {
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: black;
    opacity: .7;
}

.Error-Message {
    display: none;
    top: 30%;
    color: black;
    z-index: 999;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white !important;
}