:root {
  --golden: #ffc452;
  --black: #000000;
  --white: #ffffff;
  --red: #c31616;
  --orange: #d65e22;
  --yellow: #d8a410;
  --green: #079728;
  --blue: #356bee;
  --purple: #562dae;
  --magenta: #d7307d;
  --cyan: #1aa7d5;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

body {
  margin: 0;
  font-family: "Urbanist", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-style: italic;
  font-weight: 900;
  font-size: 72px;
  text-transform: uppercase;
}

.outline {
  -webkit-text-stroke: 0.05em var(--black);
  text-shadow: -0.1em 0.1em 0px var(--black);
}

.extrabold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.button {
  box-shadow: -0.1em 0.1em 0 var(--black);
  display: inline-block;
  color: var(--black);
  padding: 0.5rem 2rem;
  text-decoration: none;
  border-radius: 0.2rem;
  border: 0.2em solid var(--black);
  background-color: var(--white);
  transition: all .1s ease-in;
  font-size: 1em;
}

.button.button-golden {
  background-color: var(--golden);
}

.button.button-red {
  background-color: var(--red);
}

.button.button-green {
  background-color: var(--green);
}

.button:hover {
  border: 0.2em solid var(--orange);
  color: var(--orange);
}

.button.dropdown-button {

  /* styling */
  background-color: white;
  display: inline-block;

}

.button.dropdown-button select {
  background-color: transparent;
  padding: 0.5em 3.5em 0.5em 1em;
  width: 100%;
  border: none;
  margin: 0;
  outline: none;
}

.button.dropdown-button select:active, .button.dropdown-button select:focus-visible, .button.dropdown-button select:focus {
  outline: none;
}

.parallelogram {
  transform: skew(-8deg);
}

.skew-fix {
  display: inline-block;
  transform: skew(8deg);
}
